.bid-body {
    height: 600px;
    background-color: whitesmoke;
}

.bid-list-title {
    display: flex;
}

.active-title {
    color: #00ab80;
    font-family: Lato,sans-serif;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    border-bottom: 4px solid #00ab80;;
    cursor: pointer;
    text-align: center;
    padding: .5rem 1rem;
}

.inactive-title {
    font-family: Lato,sans-serif;
    font-size: 16px;
    color: #969696;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    text-align: center;
    padding: .5rem 1rem;
}

.bid-wrap h1 {
    padding: .5rem 1rem;
    color: #4a4a4a;
    font-family: Lato,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.bid-wrap {
    background-color: white;
    margin-top: 70px;
    border: 1px solid #e4e4e4;
    width: 900px;
    height: 528px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.title-border {
    border-bottom: 1px solid #e4e4e4;
}

.bid-container {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;

}

.bid-container span {
    font-size: 16px;
    font-family: Lato,sans-serif;
    color: #969696;
    line-height: 20px;
}

.bid-container span:nth-child(0) {
    display: block;
    float:left;
    width:33vw;
}

.bid-container span:nth-child(1) {
    display: block;
    float: center;
    width: 33vw;
}

.bid-container span:nth-child(2) {
    display: block;
    float: right;
    width: 33vw;
}

.bid-container p {
    font-family: Lato,sans-serif;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 400;
}

.bid-container i {
    color: #00ab80;
}

.bid-link {
    text-decoration: none;
}




