.structure {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.column-container {
  margin-top: 100px;
  display: flex;
  flex-flow: column wrap;
  min-height: 500px;
  // flex-direction: column-reverse;
  // justify-content: center;
}

.column-wrapper {
    // margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // max-width: 1600px;
    // flex-flow: column wrap;
    padding-left: 48px;
    padding-right: 48px;
    // margin-left: 48px;
    // margin-right: 48px;
    justify-content: center;
    // align-content: center;
}
  
.product-columns {
    // flex: 10%;
    // max-width: 10%;
    min-width: 215px;
    max-width: 215px;
    padding: 0px 10px 0px 10px;
}


.product-columns img {
    // margin-top: 8px;
    width: 100%;
    border: 1px solid #d8d8d8;
    // min-height: 280px;
    max-height: 296px;
    height: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.product-image {
    border: 1px solid #d8d8d8;
    border-radius: .5rem;
    margin-bottom: 15px;

}

.product-info {
  padding: 10px;

}

.product-info p {
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

.product-info p:nth-child(1) {
  font-size: 18x;
  color: #4a4a4a;
  font-weight: 700;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden

}

.product-info p:nth-child(2) {
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 900;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
  
}

.product-info p:nth-child(3) {
  font-size: 14px;
  color: #969696;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prod-words {
  text-decoration: none;
}

