.session-button:last-of-type {
    margin-right: 10px;
}

.session-button {
    font-family: Lato,sans-serif;
    font-size: 18px;
    padding: 15px;
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 470;
    outline: none;
    cursor: pointer;
}

.nav-bar {
    // background-color: linear-gradient(90deg, #00ab80, #00a980 50%, #026);
    overflow: hidden;
    background-image: linear-gradient(to right, #00ab80, #00ab90 50%, rgb(0, 95, 102)); 
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

// .nav-container {
//     overflow: hidden;
//     width: 100vw;
//     height: 70px;
//     margin: auto;
// }

.nav-mid {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.logo-name {
    font-size: 28px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;

}

.welcome-name {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 700px;
    margin-right: 15px;
    color: #ffffff;
    
}

.welcome-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    // margin-right: 150px;
}


.fas.fa-camera {
    color: white; 
    font-size: 25px;
    cursor: pointer;
}

.login-signup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
}

.search-container {
    display: flex;
    margin-left: 2px;
    border: none;
}

.search-container:last-of-type {
    margin-right: 50px;
}

.search-input-one {
    height: 35px;
    width: 325px;
    background-color: #097a69;
    margin-left: 10px;
    margin-right: 5px;
    border: none;
    outline-color: #ffffff;
    padding-left: 15px;
}

.search-input-two {
    height: 35px;
    width: 200px;
    background-color: #097a69;
    margin-left: 10px;
    border: none;
    outline-color: #ffffff;
    padding-left: 15px;
}

.fa.fa-search {
    color: #ffffff;
    font-size: 20px;
    background-color: none;
}

// .fas.fa-map-marker-alt {
.search-container i {
    color: #ffffff;
    font-size: 20px;
    background-color: none;
}

.go-button { 
    color: #ffffff;
    background-color: #00ab80;
    border-top-right-radius: .50rem;
    border-bottom-right-radius: .50rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-input-one[type=text] {
    color: white;
    font-family: Lato,sans-serif;
    border-bottom-left-radius: .35rem;
    border-top-left-radius: .35rem;
    padding-left: 15px;
}

.search-input-two[type=text] {
    color: white;
    font-family: Lato,sans-serif;
    padding-left: 15px;
}


::placeholder {
    color: #ffffff;
    font-size: 14px;
    font-family: Lato,sans-serif;
    // padding: 10px;
}

.logout-button {
    background: none;
    border: none;
    outline: none;
    font-family: Lato,sans-serif;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}



