.product-body {
    margin-top: 100px;
}

.product-container img {
    width: 40%;
    border: 1px solid #d8d8d8;
    // min-height: 280px;
    height: 20%;
    width: 20%;
    // height: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}
