 .product-form-section {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    padding: 20px 30px 30px 30px;
    /* width: 50vw; */
    /* align-items: center; */
    width: 400px;
    background-color: #ffffff;
    /* background-color: rgb(201, 193, 193); */
    /* height: 900px; */
    /* justify-content: space-evenly; */

} 

.prod-form-desc {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.prod-form-desc textarea {
    margin-top: 20px;
    height: 100px;
    resize: none;
    font-size: 20px;
    border-radius: 3rem;
    width: 90%;
    outline: none;
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    /* background-color: rgb(255, 199, 95); */
}

.product-form-wrapper h1 {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: Lato,sans-serif;
    font-weight: 900;
    color: #00ab80;
    text-align: center;
}

.product-form-section label {
    font-family: Lato,sans-serif;
    font-size: 16px;
    margin-right: 20px;
}

.product-form-section div {
    font-family: Lato,sans-serif;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .product-form-section div input {
    margin-top: 20px;
} */

label input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    outline: none;
    /* height: 40px; */
    padding-left: 20px;
    font-size: 20px;
    font-family: Lato,sans-serif;
    /* background-color: rgb(255, 199, 95); */
}

 .product-form-section label {
    display: flex;
    flex-direction: column;
}

.product-form-container {
    height: 650px;
}