.show-product-body {
    margin-top: 80px;
}

.show-product-image-cont img {
    width: 40%;
    border: 1px solid #d8d8d8;
}

.show-product-image-cont {
    display: flex;
    justify-content: center;
    height: 385px;
}

.show-product-image-cont img:nth-child(1) {
    opacity: .5;
    filter: blur(8px);
}

.show-product-image-cont img:nth-child(3) {
    opacity: .5;
    filter: blur(8px);

}

.mask{
    width:100%;
    height:100%;
    background: rgb(19, 18, 18);
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
}

.show-page {
    height: fit-content;
}

.show-description-body {
    margin-top: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.show-description-cont {
    width: 70%;
    box-sizing: border-box;
}

.show-price-name {
    display: flex;
    align-items: center;
}

.show-price-name p:nth-child(1) {
    font-size: 28px;
    display: block;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
}

.show-price-name p:nth-child(2) {
    margin-left: 20px;
    font-size: 24px;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    text-align: center;
}

.show-price-name i {
    font-size: 80px;
    color: #00ab80;
}

.show-top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.show-top-row p {
    font-size: 16px;
    font-family: Lato,sans-serif;
    font-weight: 400;
    color: #969696;
    // padding-bottom: 20px;
}

.show-top-row i {
    padding-left: 10px;
    font-size: 40px;
}

.show-location {
    margin-top: 20px;
    display: flex;

}

.show-location p:nth-child(2) {
    font-size: 16px;
    font-family: Lato,sans-serif;
    color: #4a4a4a;
    font-weight: 400;
}

.show-location p:nth-child(1) {
    color: #00ab80;
    font-size: 16px;
    font-family: Lato,sans-serif;
    font-weight: 400;
}

.show-location i {
    margin-left: 10px;
    margin-right: 10px;
    color: #00ab80;
}

.show-border-line {
    margin-top: 30px;
    border-bottom: solid #e4e4e4 1px;
}

.show-border-line2 {
    margin-top: 200px;
    border-bottom: solid #e4e4e4 1px;
}

h4 {
    margin-top: 25px;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4a4a4a;
}

.show-prod-desc p{
    margin-top: 25px;
    font-family: Lato,sans-serif;
    color: #4a4a4a;
    font-weight: 400;
}

.edit-button {
    background-color: #00ab80;
    color: #ffffff;
    outline: none;
    font-size: 10px;
    font-family: Lato,sans-serif;
    border: none;
    cursor: pointer;
    border-right: 1px solid white;
}

.delete-button {
    background-color: #00ab80;
    color: #ffffff;
    outline: none;
    font-size: 10px;
    font-family: Lato,sans-serif;
    border: none;
    cursor: pointer;
}

.make-a-bid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -190px;
    // margin-bottom: -20px;
    border: 1px solid lightgray;
    border-radius: .3rem;
    width: 290px;
    height: 200px;
    margin-left: auto;
    background-color: white;
    z-index: 1;
}

.submitbid-button {
    width: 90%;
    height: 50px;
    background-color: #00ab80;
    color: #ffffff;
    font-family: Lato,sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: .3rem;
    
}

.make-a-bid i {
    font-size: 80px;
    color: lightgray;
    // background-color: darkgray;
}